<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>蜻蜓-火速轻应用</title>
<link type="text/css" href="css/qingting.css" rel="stylesheet" />
</head>

<body>
<div class="content">
  <div class="header">
     <a href="#" class="logo">蜻蜓-轻松定制H5游戏,应用</a>
     <div class="header_ul">
       <ul>
         <a href="#"><li>我的应用</li></a>
         <a href="#"><li>模板列表</li></a>
       </ul>
     </div>
     <div class="header_info">欢迎您,11545644&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">退出</a></div>
  </div>
  <div class="con">
        <div class="qt_menu">
          <span class="span_fang"></span><span class="span_jian"></span><span>游戏列表</span>
        </div>
        <div class="game_link">
            <table>
              <tr>
                <Th><input type="checkbox"  name="del_id[]"/></Th>
                <th>二维码</th>
                <th>链接</th>
                <th>名称</th>
                <th>操作</th>
                
              </tr>
              <tr>
                <Td><input type="checkbox"  name="del_id[]" value=""/></Td>
                <td><img src="images/erweima.jpg" width="40" height="40" /><img src="images/21.png" /></td>
                <Td>http://www.huosu.com?uid=123123&usd=12321312i&jd=1237182Hhjds</Td>
                <td>寻找逆天邪神</td>
                <Td><input type="button" class="del_button" value="删除" /></Td>
              </tr>
              
            </table>
        </div>
        <div class="clear"></div>
  </div>
  
  <div class="footer">蜻蜓 版权所有 &copy;2014 www.huosu.com 微信客服：lightapp_huosu 京ICP备11015456号-7</div>
</div>
</body>
</html>
