@charset "UTF-8";
.unChoice .game-list, .choice {
    *zoom: 1
}

.unChoice .game-list:before, .choice:before, .unChoice .game-list:after, .choice:after {
    display: table;
    content: ""
}

.unChoice .game-list:after, .choice:after {
    clear: both
}

.unChoice .other-game-main .top-menu span, .unChoice .game-list li, .choice .choice-left, .choice .choice-right .scrollimg .scrollimg-main img {
    float: left;
    _display: inline
}

.unChoice h3.title a, .choice .choice-right {
    float: right;
    _display: inline
}

.unChoice h3.title {
    font-size: 24px;
    color: #a0a0a0;
    margin: 0 0 35px
}

.unChoice h3.title span {
    color: #fa6567
}

.unChoice h3.title a {
    font-size: 18px;
    color: #636363;
    text-decoration: underline
}

.unChoice .recommend {
}

.unChoice .other-game {
    background-color: #f9f9f9;
    border-top: solid 1px #e9edf3;
    margin: 0 -45px;
    padding: 45px
}

.unChoice .other-game .other-game-btn {
    text-align: center;
    margin-bottom: 80px
}

.unChoice .other-game .other-game-btn p {
    text-align: center;
    font-size: 18px;
    color: #a0a0a0;
    margin-bottom: 20px
}

.unChoice .other-game .other-game-btn a.choice-btn {
    display: inline-block;
    height: 63px;
    line-height: 63px;
    color: #fff;
    font-size: 30px;
    padding: 0 55px;
    background-color: #6a94ce;
    margin: 0 auto 20px
}

.unChoice .other-game .other-game-btn a.choice-btn:hover {
    text-decoration: none
}

.unChoice .other-game .other-game-btn p.prompt {
    color: #fa6567;
    font-size: 16px
}

.unChoice .other-game-main {
    display: none
}

.unChoice .other-game-main .top-menu {
    height: 55px;
    line-height: 55px;
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 25px
}

.unChoice .other-game-main .top-menu span {
    display: block;
    font-size: 24px;
    margin-right: 15px
}

.unChoice .game-list {
    display: block;
    margin-right: -45px
}

.unChoice .game-list li {
    display: block;
    width: 117px;
    margin-right: 44px;
    margin-bottom: 30px
}

.unChoice .game-list li .litpic {
    width: 117px;
    height: 117px;
    margin-bottom: 10px
}

.unChoice .game-list li .litpic img {
    width: 100%;
    height: 100%
}

.unChoice .game-list li .item-name {
    height: 22px;
    line-height: 22px;
    overflow: hidden
}

.unChoice .game-list li .item-name .icheckbox_polaris {
    margin-right: 5px
}

.choice {
    display: none
}

.choice .choice-left {
    width: 230px
}

.choice .choice-left h3 {
    font-size: 24px;
    color: #8f8f8f;
    margin-bottom: 30px
}

.choice .choice-left h3 span {
    color: #fa6567
}

.choice .choice-left .litpic {
    width: 230px
}

.choice .choice-left .litpic img {
    width: 100%
}

.choice .choice-left a.del {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
    background-color: #e45447;
    color: #fff;
    background-image: url(images/icon-del.jpg);
    background-repeat: no-repeat;
    font-size: 20px;
    margin-bottom: 50px
}

.choice .choice-left a.del:hover {
    text-decoration: none
}

.choice .choice-left p.comm-p {
    color: #434343;
    line-height: 24px
}

.choice .choice-left p.focus-p {
    color: #fa6567;
    font-size: 24px
}

.choice .choice-right {
    width: 645px
}

.choice .choice-right h3 {
    font-size: 24px;
    color: #535353;
    margin-top: 20px;
    margin-bottom: 20px
}

.choice .choice-right .scrollimg {
    height: 400px;
    overflow: auto
}

.choice .choice-right .scrollimg .scrollimg-main img {
    display: block;
    margin-right: 45px;
    width: 300px;
    height: 400px
}

.choice .choice-right .text {
    margin-bottom: 100px
}

.choice .choice-right .text p {
    line-height: 24px;
    font-size: 16px;
    color: #a0a0a0
}

.select-target.select-theme-default {
    background: #fff;
    border: .18em solid #63a2f1
}

.select-target.select-theme-default:hover {
    border-color: #63a2f1;
    color: #000
}
