@charset "UTF-8";
.comm-form .form-group-check {
    *zoom: 1
}

.comm-form .form-group-check:before, .comm-form .form-group-check:after {
    display: table;
    content: ""
}

.comm-form .form-group-check:after {
    clear: both
}

.act-4-left.less255, .comm-form .form-group label, .comm-form .form-group .input-class, .comm-form .form-group .name-show, .comm-form .form-group .prompt, .comm-form .form-group .prompt i.icon-prompt, .comm-form .form-group .prompt .prompt-text, .comm-form .form-group .game-show, .comm-form .form-group .litpic-show, .comm-form .form-group .content-show-text, .comm-form .form-group .prize-show-text, .comm-form .form-group .description-area {
    float: left;
    _display: inline
}

.act-4-right {
    float: right;
    _display: inline
}

.bar {
    border: solid 1px #e5e5e5;
    background-color: #f2f2f2;
    color: #000;
    font-size: 24px;
    padding: 5px 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 30px
}

.act-4-left {
    width: 200px
}

.act-4-left.big255 {
    position: fixed;
    top: 20px;
    left: 229px
}

.act-4-left h3 {
    font-size: 24px;
    margin: 0;
    color: #a0a0a0
}

.act-4-left .code {
    margin: 20px 0;
    border: solid 2px #dcdcdc
}

.act-4-left .code img {
    width: 100%
}

.act-4-left p {
    color: #a0a0a0;
    margin-bottom: 10px
}

.act-4-right {
    width: 695px;
    padding-top: 45px
}

.comm-form .form-group {
    height: 40px;
    line-height: 40px;
    margin-bottom: 33px
}

.comm-form .form-group label {
    display: block;
    width: 115px;
    text-align: right;
    font-size: 18px;
    color: #a0a0a0;
    margin-right: 20px
}

.comm-form .form-group label.ti {
    width: 4.5em
}

.comm-form .form-group .input-class {
    padding: 11px;
    height: 40px;
    font-size: 18px;
    border: 0;
    background-color: #eee;
    margin-right: 20px
}

.comm-form .form-group .name-show {
    width: 520px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: 0;
    color: #fa6567
}

.comm-form .form-group .prompt {
    padding: 7.5px 0
}

.comm-form .form-group .prompt i.icon-prompt {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(images/icon-prompt.png);
    background-size: 100%;
    cursor: pointer
}

.comm-form .form-group .prompt .prompt-text {
    display: none;
    height: 25px;
    line-height: 25px;
    color: #fa6567
}

.comm-form .form-group .input-name {
    width: 400px
}

.comm-form .form-group .date-picker {
    width: 200px;
    border: 1px solid #eee;
    padding: 0 0 0 7px;
    height: 38px;
    line-height: 38px;
    color: #fa6567;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background: url(images/ico_date.png) no-repeat right 10px top 10px;
    outline: 0
}

.comm-form .form-group span.options {
    font-size: 18px;
    color: #aeaeae;
    margin: 0 50px 0 5px
}

.comm-form .form-group .game-show {
    width: 228px;
    height: 228px;
    overflow: hidden
}

.comm-form .form-group .game-show img {
    width: 100%
}

.comm-form .form-group .litpic-show {
    width: 150px;
    height: 150px;
    overflow: hidden
}

.comm-form .form-group .litpic-show img {
    width: 100%
}

.comm-form .form-group .content-show-text {
    font-size: 18px;
    color: #fa6567;
    margin-right: 30px
}

.comm-form .form-group .prize-show-text {
    font-size: 18px;
    color: #fa6567;
    margin-right: 30px
}

.comm-form .form-group .description-area {
    line-height: 1.6em;
    padding: 10px 0;
    width: 550px;
    font-size: 16px;
    color: #fa6567
}

.comm-form .form-group .link-show {
    padding: 10px;
    background-color: #eee;
    line-height: 1.6em
}

.comm-form .form-group-check {
    height: auto;
    margin-bottom: 80px
}

.comm-form .commercial-content {
    padding: 20px;
    height: 145px;
    background-color: #f7f7f7;
    margin-left: 135px;
    margin-bottom: 100px
}

.comm-form .commercial-content h3 {
    color: #fa6567;
    font-size: 24px;
    margin-top: 0
}

.comm-form .commercial-content p {
    color: #676767
}

.mb15 {
    margin-bottom: 15px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.table {
    font-size: 16px;
    text-align: center;
    color: #535353
}

.table a:focus {
    color: #535353
}

.table thead {
    border-bottom: 0;
    background-color: #7d7d7d;
    color: #fff
}

.table thead th {
    border-bottom: 0 !important
}

.table thead th {
    text-align: center
}

.table tbody tr {
    border-top: 0;
    border-bottom: solid 1px #d0d0d0
}
