@charset "UTF-8";
.comm-form .act-step3, .comm-form .act-step3 .right ul, .choice-layout, .custom-menu, .share-page .share-content .share-text, .layout-set hr, .layout-set .set-nav {
    *zoom: 1
}

.comm-form .act-step3:before, .comm-form .act-step3 .right ul:before, .choice-layout:before, .custom-menu:before, .share-page .share-content .share-text:before, .layout-set hr:before, .layout-set .set-nav:before, .comm-form .act-step3:after, .comm-form .act-step3 .right ul:after, .choice-layout:after, .custom-menu:after, .share-page .share-content .share-text:after, .layout-set hr:after, .layout-set .set-nav:after {
    display: table;
    content: ""
}

.comm-form .act-step3:after, .comm-form .act-step3 .right ul:after, .choice-layout:after, .custom-menu:after, .share-page .share-content .share-text:after, .layout-set hr:after, .layout-set .set-nav:after {
    clear: both
}

.comm-form .top-menu ul, .comm-form .top-menu ul li, .comm-form .top-menu ul li i.icon, .comm-form .act-step3 .left, .comm-form .act-step3 .mid, .comm-form .act-step3 .right ul li, .choice-layout li, .custom-set ul li.icon-btn a i.icon-add, .custom-menu ul li, .custom-menu ul li i, .layout-set .setColor-label, .layout-set .set-main .sequence-btn a, .layout-set .set-main .sequence-btn .trimming, .layout-set .set-nav li {
    float: left;
    _display: inline
}

.comm-form .top-menu .select-target, .comm-form .act-step3 .right, .comm-form .act-step3 .goback-btn, .custom-set ul li.icon-btn a span, .layout-set .set-main .sequence-btn .control, .act-step3-4-nav, .modal-act-step3-4 {
    float: right;
    _display: inline
}

.select-target.select-theme-default {
    background: #fff;
    border: .18em solid #fa6567
}

.select-target.select-theme-default:hover {
    border-color: #fa6567;
    color: #000
}

.select.select-theme-default .select-options .select-option:hover, .select.select-theme-default .select-options .select-option.select-option-highlight {
    background: #fa6567;
    color: #fff
}

.select-target.select-theme-default.select-target-focused, .select-target.select-theme-default.select-target-focused:focus {
    border-color: #fa6567;
    outline: 0
}

.comm-form .top-menu {
    height: 52px;
    line-height: 52px;
    border-bottom: solid 2px #545a5a;
    margin: 0 -45px
}

.comm-form .top-menu ul {
    display: block;
    font-size: 24px
}

.comm-form .top-menu ul li {
    height: 52px;
    padding: 0 20px;
    color: #bfbfbf
}

.comm-form .top-menu ul li a {
    color: #bfbfbf
}

.comm-form .top-menu ul li a:hover {
    text-decoration: none
}

.comm-form .top-menu ul li i.icon {
    display: block;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-image: url(images/icon-step3-comm.png);
    margin-top: 12px;
    margin-right: 10px
}

.comm-form .top-menu ul li.current a {
    color: #fa6567
}

.comm-form .top-menu ul li.current i.icon {
    background-image: url(images/icon-step3-current.png)
}

.comm-form .top-menu ul li.active {
    border-top: solid 2px #545a5a;
    border-left: solid 2px #545a5a;
    border-right: solid 2px #545a5a;
    background-color: #f7f7f7
}

.comm-form .top-menu ul li.active a {
    color: #535c63
}

.comm-form .top-menu ul li.active i.icon {
    background-image: url(images/icon-step3-active.png)
}

.comm-form .top-menu .select-target {
    margin-right: 15px
}

.comm-form .act-step3 {
    background-color: #f7f7f7;
    padding: 45px 45px 150px;
    margin: 0 -45px -45px -45px;
    position: relative
}

.comm-form .act-step3 .left {
    width: 198px;
    margin-right: 25px
}

.comm-form .act-step3 .left p {
    font-size: 16px;
    line-height: 24px
}

.comm-form .act-step3 .left p.important {
    color: #fb6566
}

.comm-form .act-step3 .mid {
    width: 380px;
    text-align: center
}

.comm-form .act-step3 .mid .phone-simulation {
    position: relative;
    display: block;
    background-color: #dfdfdf;
    overflow: hidden
}

.comm-form .act-step3 .mid .phone-simulation img {
    width: 100%;
    display: block
}

.comm-form .act-step3 .right {
    width: 300px;
    padding: 0 0 0 20px;
    background-color: #e7e7e7
}

.comm-form .act-step3 .right .img-load {
    display: block;
    margin-left: -20px;
    margin-bottom: -20px;
    background-color: #f7f7f7
}

.comm-form .act-step3 .right .btn-set {
    display: none
}

.comm-form .act-step3 .right p {
    color: #a4a4a4
}

.comm-form .act-step3 .right ul {
    display: block;
    margin-bottom: 0
}

.comm-form .act-step3 .right ul li {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

.comm-form .act-step3 .right ul li p.title {
    display: none
}

.comm-form .act-step3 .right ul li p.imgWrap {
    margin-bottom: 0;
    width: 73px;
    height: 110px;
    overflow: hidden
}

.comm-form .act-step3 .right ul li p.imgWrap img {
    width: 100%;
    height: 100%
}

.comm-form .act-step3 .right ul li .litpic {
    width: 73px;
    height: 110px;
    background-color: #333;
    margin-right: 20px;
    overflow: hidden
}

.comm-form .act-step3 .right ul li .litpic img {
    width: 100%;
    height: auto
}

.comm-form .act-step3 .right ul li span.del {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    color: #a8a8a8;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5)
}

.comm-form .act-step3 .goback-btn {
    margin-left: -40px;
    margin-right: -40px;
    padding-right: 20px;
    background-color: #f7f7f7;
    text-align: right;
    float: none;
    height: 50px;
    line-height: 50px;
}

.comm-form .act-step3 .goback-btn a.back {
    color: #999
}

.comm-form .act-step3 .goback-btn a.back:hover {
    text-decoration: none
}

.webuploader-container {
    position: relative
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}

.webuploader-pick {
    display: block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #52595f;
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px
}

.webuploader-pick:hover {
    text-decoration: none
}

.webuploader-pick-disable {
    opacity: .6;
    pointer-events: none
}

.statusBar .set-select .select-target {
    width: 100%;
    margin-bottom: 10px
}

.statusBar .info {
    display: none
}

.statusBar .state-ready, .save-config {
    width: 198px;
    display: block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background-color: #fa6567;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0;
}

.statusBar .state-ready:hover {
    text-decoration: none
}

.statusBar .state-finish {
    width: 198px;
    display: block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background-color: #fa6567;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px
}

.statusBar .state-pedding {
    width: 198px;
    display: block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background-color: #fa6567;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-top: 15px
}

.choice-layout {
    display: block
}

.choice-layout li {
    display: block;
    width: 96px;
    margin-bottom: 10px
}

.choice-layout li.active a {
    border: solid 1px #fa6567
}

.choice-layout li a {
    margin-right: 10px;
    display: block;
    background-color: #f0f4fb;
    border: solid 1px #dcdcdc
}

.choice-layout li a img {
    width: 100%
}

.choice-layout li a:hover {
    border: solid 1px #fa6567
}

.custom-set {
    display: none
}

.custom-set ul {
    display: block;
    width: 145px;
    margin: 0 auto
}

.custom-set ul li {
    margin-bottom: 12px
}

.custom-set ul li.icon-btn {
    display: block;
    height: 40px;
    line-height: 40px
}

.custom-set ul li.icon-btn a i.icon-add {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(images/icon-add.png);
    background-color: #bfbfbf
}

.custom-set ul li.icon-btn a span {
    display: block;
    width: 100px;
    text-align: center;
    color: #fff;
    background-color: #bfbfbf
}

.custom-set ul li.icon-btn a:hover span, .custom-set ul li.icon-btn a:hover i {
    background-color: #53b2ea
}

.custom-set ul li.only-btn a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #bfbfbf
}

.custom-set ul li.only-btn a:hover {
    text-decoration: none;
    background-color: #53b2ea
}

.custom-menu {
    padding-left: 10px;
    z-index: 100;
    position: absolute;
    top: -30px;
    left: -10px;
    padding-bottom: 10px
}

.custom-menu ul li {
    background-color: #40464a;
    height: auto;
    line-height: 1em;
    padding: 5px;
    display: block;
    font-size: 14px
}

.custom-menu ul li.close {
    opacity: 1 !important;
    text-shadow: none;
    color: #fff
}

.custom-menu ul li.drag {
    opacity: 1 !important;
    text-shadow: none;
    color: #fff
}

.custom-menu ul li i {
    margin-right: 5px;
    display: block;
    width: 15px;
    height: 15px;
    background-size: 100% 100%
}

.custom-menu ul li i.icon-set {
    background-image: url(images/icon-set.png)
}

.custom-menu ul li i.icon-drag {
    background-image: url(images/icon-drag.png)
}

.custom-menu ul li i.icon-close {
    background-image: url(images/icon-close.png)
}

.custom-menu ul button {
    background: 0 0;
    color: #fff
}

.lay-common .layoutArea .prize-show .prize-litpic {
    height: 150px;
    border: solid 2px transparent
}

.lay-common .layoutArea .prize-show .prize-litpic img {
    display: inline-block;
    width: auto;
    height: 146px !important
}

.lay-common .layoutArea .prize-show .prize-litpic:hover {
    height: 150px;
    border: solid 2px #ec3a3f
}

.lay-common .layoutArea .prize-show .prize-litpic.active {
    height: 150px;
    border: solid 2px #ec3a3f
}

.lay-common .layoutArea .prize-show p {
    border: solid 2px transparent
}

.lay-common .layoutArea .prize-show p:hover {
    border: solid 2px #ec3a3f
}

.lay-common .layoutArea .prize-show p.active {
    border: solid 2px #ec3a3f
}

.lay-common .footerArea .homepage {
    border: solid 1px transparent
}

.lay-common .footerArea .homepage:hover {
    border: solid 1px #ec3a3f
}

.lay-common .footerArea .homepage.active {
    border: solid 1px #ec3a3f
}

.lay-common .footerArea .copyright {
    border: solid 1px transparent
}

.lay-common .footerArea .copyright:hover {
    border: solid 1px #ec3a3f
}

.lay-common .footerArea .copyright.active {
    border: solid 1px #ec3a3f
}

.lay-common .start-btn .btn-current {
    display: none
}

.lay-common .start-btn:hover {
    text-decoration: none
}

.lay-common .start-btn:hover .btn-current {
    display: block !important
}

.lay-common .start-btn:hover .btn-current i.btn-current-i {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-size: 100% 100%
}

.lay-common .start-btn:hover .btn-current i.btn-current-i.tl {
    top: -5px;
    left: -5px;
    background-image: url(images/btn-tl.png)
}

.lay-common .start-btn:hover .btn-current i.btn-current-i.tr {
    top: -5px;
    right: -5px;
    background-image: url(images/btn-tr.png)
}

.lay-common .start-btn:hover .btn-current i.btn-current-i.br {
    bottom: -5px;
    right: -5px;
    background-image: url(images/btn-br.png)
}

.lay-common .start-btn:hover .btn-current i.btn-current-i.bl {
    bottom: -5px;
    left: -5px;
    background-image: url(images/btn-bl.png)
}

.lay-common .start-btn:focus {
    text-decoration: none !important;
}

.lay-common .start-btn.active .btn-current {
    display: block !important
}

.lay-common .start-btn.active .btn-current i.btn-current-i {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-size: 100% 100%
}

.lay-common .start-btn.active .btn-current i.btn-current-i.tl {
    top: -3px;
    left: -3px;
    background-image: url(images/btn-tl.png)
}

.lay-common .start-btn.active .btn-current i.btn-current-i.tr {
    top: -3px;
    right: -3px;
    background-image: url(images/btn-tr.png)
}

.lay-common .start-btn.active .btn-current i.btn-current-i.br {
    bottom: -3px;
    right: -3px;
    background-image: url(images/btn-br.png)
}

.lay-common .start-btn.active .btn-current i.btn-current-i.bl {
    bottom: -3px;
    left: -3px;
    background-image: url(images/btn-bl.png)
}

.phone {
    width: 324px;
    margin: 0 auto;
    border: solid 2px #f7f7f7
}

.phone.active {
    border: solid 2px #ec3a3f
}

.phone-simulation .textArea {
    border: solid 3px transparent
}

.phone-simulation .textArea:hover {
    border: solid 3px #ec3a3f
}

.phone-simulation .textArea.active {
    border: solid 3px #ec3a3f
}

.phone-simulation .btnArea a {
    position: relative
}

.phone-simulation .btnArea a .btn-current {
    display: none
}

.phone-simulation .btnArea a:hover .btn-current {
    display: block !important
}

.phone-simulation .btnArea a:hover .btn-current i.btn-current-i {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-size: 100% 100%
}

.phone-simulation .btnArea a:hover .btn-current i.btn-current-i.tl {
    top: -5px;
    left: -5px;
    background-image: url(images/btn-tl.png)
}

.phone-simulation .btnArea a:hover .btn-current i.btn-current-i.tr {
    top: -5px;
    right: -5px;
    background-image: url(images/btn-tr.png)
}

.phone-simulation .btnArea a:hover .btn-current i.btn-current-i.br {
    bottom: -5px;
    right: -5px;
    background-image: url(images/btn-br.png)
}

.phone-simulation .btnArea a:hover .btn-current i.btn-current-i.bl {
    bottom: -5px;
    left: -5px;
    background-image: url(images/btn-bl.png)
}

.phone-simulation .btnArea a.active .btn-current {
    display: block !important
}

.phone-simulation .btnArea a.active .btn-current i.btn-current-i {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-size: 100% 100%
}

.phone-simulation .btnArea a.active .btn-current i.btn-current-i.tl {
    top: -3px;
    left: -3px;
    background-image: url(images/btn-tl.png)
}

.phone-simulation .btnArea a.active .btn-current i.btn-current-i.tr {
    top: -3px;
    right: -3px;
    background-image: url(images/btn-tr.png)
}

.phone-simulation .btnArea a.active .btn-current i.btn-current-i.br {
    bottom: -3px;
    right: -3px;
    background-image: url(images/btn-br.png)
}

.phone-simulation .btnArea a.active .btn-current i.btn-current-i.bl {
    bottom: -3px;
    left: -3px;
    background-image: url(images/btn-bl.png)
}

.share-page .share-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 90%;
    margin: 0 auto
}

.share-page .share-content .arrow-img {
    border: solid 3px transparent
}

.share-page .share-content .arrow-img:hover {
    border: solid 3px #ec3a3f
}

.share-page .share-content .arrow-img.active {
    border: solid 3px #ec3a3f
}

.share-page .share-content .arrow-img .custom-menu {
    top: 0
}

.share-page .share-content .share-text {
    width: 100%
}

.share-page .share-content .share-text h3 {
    border: solid 3px transparent
}

.share-page .share-content .share-text h3:hover {
    border: solid 3px #ec3a3f
}

.share-page .share-content .share-text h3.active {
    border: solid 3px #ec3a3f
}

.share-page .share-content .share-text p {
    border: solid 3px transparent
}

.share-page .share-content .share-text p:hover {
    border: solid 3px #ec3a3f
}

.share-page .share-content .share-text p.active {
    border: solid 3px #ec3a3f
}

.share-page .footerArea {
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.share-page .footerArea .homepage {
    text-align: left;
    height: 30px;
    line-height: 30px
}

.layout-set {
    position: relative;
    padding: 0 40px 0 20px
}

.layout-set h3 {
    font-size: 24px;
    margin-top: 20px
}

.layout-set hr {
    border-top: 1px solid #d2d2d2;
    margin: 25px 0 20px
}

.layout-set .title {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #525a5f
}

.layout-set .img-set {
    position: relative
}

.layout-set .img-set a {
    text-align: center;
    height: 45px;
    line-height: 45px;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    background-image: url(images/bg-set-btn.jpg);
    background-size: 100% 100%;
    font-size: 24px
}

.layout-set .img-set a:hover {
    text-decoration: none
}

.layout-set .img-set .file-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    opacity: 0
}

.layout-set .setColor-label {
    height: 30px;
    line-height: 30px
}

.layout-set .setComm-label {
    margin-bottom: 10px
}

.layout-set .set-main .font-style {
    height: 50px
}

.layout-set .set-main .font-style a {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    padding: 0 25px;
    border: solid 1px #c9c9c9;
    background-color: #fff;
    color: #525a5f
}

.layout-set .set-main .font-style a.active {
    border: solid 1px #000;
    background-color: #eee
}

.layout-set .set-main .font-style a:hover {
    border: solid 1px #666;
    background-color: #eee
}

.layout-set .set-main .font-style a.bold {
    font-weight: 700
}

.layout-set .set-main .font-style a.bold:hover {
    text-decoration: none
}

.layout-set .set-main .font-style a.italic {
    font-style: italic
}

.layout-set .set-main .font-style a.italic:hover {
    text-decoration: none
}

.layout-set .set-main .font-style a.underline {
    text-decoration: underline
}

.layout-set .set-main .content-set {
    padding-bottom: 20px
}

.layout-set .set-main .content-set input {
    width: 100%;
    display: block;
    border: 0;
    font-size: 16px;
    padding: 8px 2%;
    background-color: #f7f7f7;
    border: solid 1px #d3d3d3
}

.layout-set .set-main .content-set textarea {
    display: block;
    width: 100%;
    height: 150px;
    border: solid 1px #d6d6d6;
    background-color: #f7f7f7;
    padding: 5px
}

.layout-set .set-main .sequence-btn {
    height: 30px;
    line-height: 30px
}

.layout-set .set-main .sequence-btn a {
    display: block;
    border: solid 1px #c9c9c9;
    padding: 0 10px;
    background-color: #fff;
    color: #525a5f
}

.layout-set .set-nav {
    display: block;
    margin: 0 -40px;
    border-left: solid 1px #d2d2d2
}

.layout-set .set-nav li {
    width: 33.333333%;
    display: block;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.layout-set .set-nav li.active a {
    background-color: #e7e7e7;
    border-bottom: solid 1px #e7e7e7
}

.layout-set .set-nav li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #525a5f;
    background-color: #f4f4f4;
    border-top: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
    border-bottom: solid 1px #d2d2d2
}

.layout-set .set-nav li a:hover {
    text-decoration: none;
    background-color: #e7e7e7;
    border-bottom: solid 1px #e7e7e7
}

.toolprogress {
    box-shadow: 0 1px 20px #4b5257 inset;
    -moz-box-shadow: 0 1px 20px #4b5257 inset;
    -webkit-box-shadow: 0 1px 20px #4b5257 inset;
    -o-box-shadow: 0 1px 20px #4b5257 inset;
    -ms-box-shadow: 0 1px 20px #4b5257 inset;
    border-radius: 10px
}

.pagecontent, .pagebg {
    margin: -506px 0 0 -320px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 1012px;
    width: 640px;
    left: 50%;
    top: 50%
}

.pagecontent {
    overflow: hidden
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
    z-index: 1
}

.delbtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    background: red;
    line-height: 20px;
    border-radius: 5px
}

.element[show] {
    position: absolute;
    visibility: hidden
}

.menupaste {
    display: none
}

.element:hover {
    box-shadow: 0 0 20px #007dfc !important;
    cursor: pointer
}

.toolbtn {
    width: 16%;
    height: 100px;
    float: left;
    color: #fff;
    text-align: center;
    background: #d7d7d7;
    border-left: 1px solid #737378;
    padding-left: 1px
}

.addelebtn {
    width: 36px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    border-radius: 19px;
    background: #b4b4b4;
    margin-bottom: 20px;
    color: #fff
}

.thum {
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px
}

.thum img {
    width: 70px;
    height: 70px
}

.selected {
    border: 4px solid rgba(0, 125, 252, .5);
    position: relative;
    top: -4px
}

.bgmove {
    border: dashed 1px rgba(0, 125, 252, .5);
    cursor: move
}

.element {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    border: 0 dashed rgba(20, 20, 20, .5);
    margin: 0;
    z-index: 0
}

.element img {
    z-index: -1
}

.outresizepoint {
    width: 30px;
    height: 30px;
    background: rgba(0, 125, 252, 0);
    position: absolute
}

.resizepoint {
    width: 30px;
    height: 30px;
    background: rgba(0, 125, 252, 0);
    position: absolute
}

.cropbrp {
    border-bottom: 5px solid rgba(68, 195, 181, .9) !important;
    border-right: 5px solid rgba(68, 195, 181, .9) !important
}

.rotatepoint {
    width: 20px;
    height: 20px;
    background: rgba(0, 125, 252, .8);
    border: 0 solid #007dfc;
    margin-left: -15px;
    left: 50%;
    position: absolute;
    bottom: -40px;
    border-radius: 23px;
    cursor: move
}

.resizeline {
    border: 2px dashed rgba(25, 25, 25, .9);
    position: absolute;
    display: none
}

.pagethumcell {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 5px 0;
    cursor: pointer;
    color: #ccc
}

.pagecell-holder {
    width: 100%;
    height: 160px;
    background: rgba(68, 195, 181, .9);
    position: relative;
    margin-bottom: 0;
    color: #fff
}

.pagecellondragtop {
    position: absolute
}

.pagethumcell:hover, .pagethumcell.onpageedit {
    position: relative;
    background: #44c3b5;
    overflow: hidden;
    margin: 1px 0;
    color: #fff
}

.pagethum {
    width: 95px;
    height: 150px;
    background: #fff;
    position: relative;
    margin-left: 5px;
    overflow: hidden
}

.mobanthum {
    width: 95px;
    height: 150px;
    background: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 5px;
    box-shadow: 0 0 2px gray
}

.mobanthum:hover {
    background: #44c3b5;
    cursor: pointer;
    box-shadow: 0 0 10px #44c3b5
}

.mobanselected {
    border: 4px solid rgba(0, 125, 252, .5);
    position: relative;
    top: -4px
}

.pagethumaddpage {
    width: 40px;
    height: 64px;
    background: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 3px 2px
}

.toolbartab {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    box-shadow: 0 1px 4px #a0a0a0;
    background: -webkit-gradient(linear, 0 0, 0 80%, from(#FFF), to(#F0F0F0))
}

.toolbartab:hover {
    background: -webkit-gradient(linear, 0 0, 0 80%, from(#A3ECE4), to(#69d4c8));
    color: #fff
}

.selecttoolbar {
    background: #e0e0e0 !important;
    box-shadow: 0 0 0 transparent inset !important
}

.toolbarline {
    width: 250px;
    border-bottom: 1px solid #d2d2d2;
    min-height: 30px;
    padding-bottom: 13px;
    margin-top: 15px;
    margin-left: 10px
}

.linecontent {
    width: 280px;
    border: 0 solid red;
    min-height: 30px
}

.colorblock {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 0 0 1px gray
}

.colorblock:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    border-radius: 1px;
    box-shadow: 0 0 2px rgba(50, 50, 50, .5)
}

.blackwhitearea {
    margin-top: 13px;
    float: left
}

.colorboard {
    box-shadow: 0 0 2px gray;
    padding: 12px 8px;
    position: absolute;
    right: -200px;
    width: 286px;
    height: 264px;
    background: #fff;
    border-radius: 5px
}

.toolbartab {
    cursor: pointer;
    box-shadow: 0 0 2px #999 inset
}

.layerbtn {
    cursor: pointer;
    margin-left: 1px;
    background: #fff;
    box-shadow: 0 0 2px gray;
    width: 55px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px
}

.fontstylebtn {
    cursor: pointer;
    margin-left: 1px;
    background: #fff;
    box-shadow: 0 0 2px gray;
    width: 65px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    margin-right: 21px
}

.vfontalignmentbtn:hover, .fontalignmentbtn:hover, .fontstylebtn:hover {
    box-shadow: 1px 1px 3px gray
}

.fontalignmentbtn.status-on, .fontstylebtn.status-on, .vfontalignmentbtn.status-on {
    background: #44c3b5;
    color: #fff
}

.layerbtn:hover {
    background: #64ccc3;
    color: #fff
}

.fontalignmentbtn {
    cursor: pointer;
    margin-left: 0;
    background: #fff;
    box-shadow: 0 0 2px gray;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    margin-right: 0
}

.vfontalignmentbtn {
    cursor: pointer;
    margin-left: 0;
    background: #fff;
    box-shadow: 0 0 2px gray;
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    margin-right: 0;
    margin-top: 20px
}

.piclibbtn {
    position: absolute;
    width: 100px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 1px 4px #a0a0a0;
    background: -webkit-gradient(linear, 0 0, 0 80%, from(#FFF), to(#F0F0F0));
    top: 10px;
    text-align: center;
    font-size: 18px
}

.piclibbtn:hover {
    background: -webkit-gradient(linear, 0 0, 0 80%, from(#A3ECE4), to(#69d4c8));
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px #787878
}

.piclibbtn:active {
    box-shadow: 0 0 5px gray;
    color: gray
}

.libthum {
    float: left;
    width: 90px;
    height: 110px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    position: relative;
    box-shadow: 0 0 6px #dcdcdc
}

.libthum:hover {
    background: #64ccc3;
    color: #fff;
    cursor: pointer
}

.selecedthum {
    background: #64ccc3;
    color: #fff
}

.libthum img {
    width: 80px
}

.libthum .imgcontent {
    margin-top: 5px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    overflow: hidden
}

.libthum span {
    margin: 0;
    padding: 0
}

#addmusic {
    height: 26px;
    width: 150px;
    border-radius: 20px;
    background: gray;
    float: left;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    text-align: center
}

.musicitem {
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #d2d2d2;
    font-size: 16px;
    color: #969696;
    padding-left: 20px;
    line-height: 40px;
    cursor: pointer
}

.scalebar {
    width: 500px;
    height: 80px;
    margin-top: 20px;
    background: rgba(30, 30, 30, .9);
    border-radius: 20px;
    z-index: 999;
    position: absolute;
    display: none;
    top: 300px;
    left: 0
}

.musicbtn {
    width: 20px;
    height: 20px;
    float: left;
    overflow: hidden;
    background-image: url(res/play.png);
    margin-top: 10px
}

.musicbtn.playing {
    background-image: url(res/pause.png)
}

.musicitem .op {
    width: 100px;
    height: 40px;
    float: left;
    overflow: hidden;
    margin-left: -50px;
    margin-top: 0
}

.musicitem .name {
    width: 220px;
    display: block;
    float: left;
    overflow: hidden
}

.playing:before {
    color: #000 !important
}

.addele {
    height: 40px;
    width: 51px;
    background-image: url(res/btn-top.png);
    float: left;
    margin-left: 68px;
    color: #fff;
    cursor: pointer
}

.addele:hover {
    color: #64ccc3
}

.addele:active {
    color: #646464
}

.addele span {
    position: relative;
    top: 13px;
    width: 120%;
    display: block
}

#addpicbtn {
    background-position: -50px 0
}

#addpicbtn:hover {
    background-position: -50px -92px
}

#addpicbtn:active {
    background-position: -50px -46px
}

#addtextbtn {
    background-position: 0 0;
    left: 40%
}

#addtextbtn:hover {
    background-position: 0 -92px
}

#addtextbtn:active {
    background-position: 0 -46px
}

#addbtnbtn {
    background-position: -104px 0
}

#addbtnbtn:hover {
    background-position: -104px -92px
}

#addbtnbtn:active {
    background-position: -104px -46px
}

.changepicbtn:hover {
    box-shadow: 0 1px 2px #787878;
    background: -webkit-gradient(linear, 0 0, 0 3%, from(#CFFFFA), to(#64cbbf));
    background: -moz-linear-gradient(top, #CFFFFA, #64cbbf);
    background: -o-linear-gradient(top, #CFFFFA, #64cbbf);
    background: -ms-linear-gradient(top, #CFFFFA, #64cbbf);
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 4px #787878;
    color: #fff;
    cursor: pointer
}

.changepicbtn {
    box-shadow: 0 1px 2px #a0a0a0;
    border-radius: 3px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F3F3F3));
    background: -webkit-linear-gradient(#FFF, #F3F3F3);
    background: -moz-linear-gradient(#FFF, #F3F3F3);
    background: -o-linear-gradient(#FFF, #F3F3F3);
    background: linear-gradient(#FFF, #F3F3F3);
    border-radius: 3px;
    margin: auto;
    text-align: center;
    width: 240px;
    line-height: 30px;
    height: 30px
}

.noselect {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.nocolor {
    background-image: url(res/transparent.png) !important
}

.insidebtn.cropseleted, .outsidebtn.cropseleted {
    background: rgba(0, 165, 252, .8) !important;
    color: #fff
}

.insidebtn, .outsidebtn {
    background: gray;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px
}

.combtn {
    background: rgba(0, 165, 252, .8);
    border-radius: 3px;
    box-shadow: 0 1px 4px #787878;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px
}

.act-step3-4-nav {
    width: 300px;
    margin-bottom: 30px;
    position: relative;
    border-bottom: solid 3px #a1a1a1
}

.act-step3-4-nav ul {
    width: 100%;
    display: block;
    position: absolute;
    top: -20px
}

.act-step3-4-nav ul li {
    position: absolute;
    width: 80px;
    text-align: center;
    display: block;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -o-border-radius: 90px;
    background-color: #fff
}

.act-step3-4-nav ul li.link1 {
    left: 0
}

.act-step3-4-nav ul li.link2 {
    left: 0;
    right: 0;
    margin: 0 auto
}

.act-step3-4-nav ul li.link3 {
    right: 0
}

.act-step3-4-nav ul li a {
    display: block;
    padding: 5px 0;
    color: #525a5f;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -o-border-radius: 90px;
    border: solid 3px #a1a1a1
}

.act-step3-4-nav ul li a:hover {
    text-decoration: none;
    background-color: #fa6567;
    border: solid 3px #fa6567;
    color: #fff
}

.act-step3-4-nav ul li a.current {
    text-decoration: none;
    background-color: #fa6567;
    color: #fff;
    border: solid 3px #fa6567
}

.act-step3-4-nav ul li a.current:hover {
    background-color: #fa6567
}

.act-step3-4-nav ul li a.active {
    text-decoration: none;
    background-color: #a1a1a1;
    color: #fff
}

.act-step3-4-nav ul li a.active:hover {
    background-color: #a1a1a1;
    border: solid 3px #a1a1a1
}

.modal-act-step3-4 {
    width: 320px;
    height: 50px;
    background-color: #f7f7f7;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -o-border-radius: 90px;
    position: relative;
    margin-right: 93px;
    margin-top: 199px
}

.modal-act-step3-4 .act-step3-4-nav {
    position: absolute;
    top: 27px;
    left: 11px
}

.modal-act-step3-4-prompt {
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 70px;
    font-size: 18px;
    text-align: center
}

.phone-simulation .start-btn {
    z-index: 0, left : '0px', top : '0px'
}

.phone-simulation .textArea {
    z-index: 0
}

.phone-simulation .btnArea a.btn1, .phone-simulation .btnArea a.btn2, .phone-simulation .btnArea a.btn3 {
    z-index: 0
}

.phone-simulation .footerArea .homepage, .phone-simulation .footerArea .copyright {
    z-index: 0
}

.phone-simulation .arrow-img, .phone-simulation .share-text h3, .phone-simulation .share-text p {
    z-index: 0
}

.phone-simulation .prize-show .prize-litpic {
    z-index: 0
}

.phone-simulation .prize-show p {
    z-index: 0
}

.axis {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border: solid 1px #c9c9c9;
    background-color: #fff;
    color: #525a5f;
}

.axis.active {
    border: solid 1px #000;
    background-color: #eee
}

.axis:hover {
    border: solid 1px #666;
    background-color: #eee;
    color: #525a5f;
}
